registry = https://registry.npmjs.org/
git-checks = true
link-workspace-packages = true
prefer-workspace-packages = true
shared-workspace-lockfile = true
save-workspace-protocol = true
publish-branch = main

; Temporarily commenting out.
; peer dependencies should be resolved from dependencies of the root workspace package
; strict-peer-dependencies = true